@import "tailwindcss";

@font-face {
  font-family: "DM Mono";
  src: url('../fonts/DMMono/DMMono-Regular.woff2') format('woff2'),
       url('../fonts/DMMono/DMMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Mono";
  src: url('../fonts/DMMono/DMMono-Medium.woff2') format('woff2'),
       url('../fonts/DMMono/DMMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roberto Pro";
  src: url('../fonts/roberto/RoobertPRO-Medium.woff2') format('woff2'),
       url('../fonts/roberto/RoobertPRO-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Trap";
  src: url('../fonts/trap/Trap-Bold\ 700.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Trap";
  src: url('../fonts/trap/Trap-ExtraBold\ 800.otf') format('otf');
  font-weight: 800;
  font-style: normal;
}

:root {
  --green-350: #7CC0AB;
  --green-550: #436c5f;
  --green-800: #436C5F;
  --yellow-100: #e7e4dd;
}

@theme {
  --font-sans: "DM Mono", "Roberto Pro", system-ui, sans-serif;
  --font-trap: "Trap";

  --color-green-350: var(--green-350);
  --color-green-550: var(--green-550);
  --color-green-800: var(--green-800);
  --color-yellow-100: var(--yellow-100);

  --shadow-subscribe: 0 0 10px 5px #7cc0ab;

  --breakpoint-1160: 73rem;
  --breakpoint-400: 25rem;
  --breakpoint-380: 23.75rem;
  --breakpoint-340: 21.25rem;
  --breakpoint-1080: 67.5rem;
}

@layer base {

  * {
    margin: 0;
  }
  body {
    height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    background: #E7E4DD;
    color: #000000;
    font-weight: 400;
    font-family: "DM Mono", "Roberto Pro";
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  input {
    outline: none;
  }
  main {
    flex: 1;
    display: flex;
  }
}

@layer utilities {}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icon-active {
  filter: invert(48%) sepia(13%) saturate(1237%) hue-rotate(122deg) brightness(94%) contrast(88%);
}


.screen {
  width: calc(100vw - 32px);
}


.loader {
  animation: loader-animate 3s linear infinite;
}

@keyframes loader-animate {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}

.full {
  width: calc(100vw - 32px);
}