@import "tailwindcss";

@font-face {
  font-family: "DM Mono";
  src: url('../fonts/DMMono/DMMono-Regular.woff2') format('woff2'),
       url('../fonts/DMMono/DMMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Mono";
  src: url('../fonts/DMMono/DMMono-Medium.woff2') format('woff2'),
       url('../fonts/DMMono/DMMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

:root {
  --green-800: #436C5F;
  --yellow-100: #e7e4dd;
}

@theme {
  --font-sans: "DM Mono", system-ui, sans-serif;

  --color-green-800: var(--green-800);
  --color-yellow-100: var(--yellow-100);

  --shadow-subscribe: 0 0 10px 5px #7cc0ab;
}

@layer base {

  * {
    margin: 0;
  }
  body {
    height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    background: #E7E4DD;
    color: #000000;
    font-weight: 400;
    font-family: "DM Mono", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  html {
    overflow-x: hidden;
  }
  input {
    outline: none;
  }
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@layer utilities {}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icon-active {
  filter: invert(48%) sepia(13%) saturate(1237%) hue-rotate(122deg) brightness(94%) contrast(88%);
}